In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('data/Time.csv')
df.head()

         date  time  test  negative  confirmed  released  deceased
0  2020-01-20    16     1         0          1         0         0
1  2020-01-21    16     1         0          1         0         0
2  2020-01-22    16     4         3          1         0         0
3  2020-01-23    16    22        21          1         0         0
4  2020-01-24    16    27        25          2         0         0

In [8]:
df.dtypes

date         object
time          int64
test          int64
negative      int64
confirmed     int64
released      int64
deceased      int64
dtype: object

In [39]:
df['date'] = pd.to_datetime(df['date'])
df['time'] = pd.to_numeric(df['time'])
df['test'] = pd.to_numeric(df['test'])
df['negative'] = pd.to_numeric(df['negative'])
df['confirmed'] = pd.to_numeric(df['confirmed'])
df['release'] = pd.to_numeric(df['released'])
df['deceased'] = pd.to_numeric(df['deceased'])

In [40]:
df_diff = df.diff(axis=0)
df_diff.loc[0:0,'date':'release'] = '1 days', 1, 0, 1, 0, 1, 0, 0
del df_diff['date']
del df_diff['time']

In [41]:
df_diff = df_diff.add_prefix('daily_')
df = df.add_prefix('commulative_')

In [44]:
df = pd.concat([df, df_diff], axis=1)

In [45]:
df

,commulative_date,commulative_time,commulative_test,commulative_negative,commulative_confirmed,commulative_released,commulative_deceased,commulative_release,daily_test,daily_negative,daily_confirmed,daily_released,daily_deceased,daily_release
0,2020-01-20,16,1,0,1,0,0,0,0.0,1.0,0.0,1.0,0.0,0.0
1,2020-01-21,16,1,0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-22,16,4,3,1,0,0,0,3.0,3.0,0.0,0.0,0.0,0.0
3,2020-01-23,16,22,21,1,0,0,0,18.0,18.0,0.0,0.0,0.0,0.0
4,2020-01-24,16,27,25,2,0,0,0,5.0,4.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2020-06-26,0,1232315,1200885,12602,11172,282,11172,11837.0,11870.0,39.0,198.0,0.0,198.0
159,2020-06-27,0,1243780,1211261,12653,11317,282,11317,11465.0,10376.0,51.0,145.0,0.0,145.0
160,2020-06-28,0,1251695,1219975,12715,11364,282,11364,7915.0,8714.0,62.0,47.0,0.0,47.0
161,2020-06-29,0,1259954,1228698,12757,11429,282,11429,8259.0,8723.0,42.0,65.0,0.0,65.0
162,2020-06-30,0,1273766,1240157,12800,11537,282,11537,13812.0,11459.0,43.0,108.0,0.0,108.0